@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: rgba(116, 125, 255, 0.35);
    color: white;
    position: absolute;
    z-index: 1;
}

.navigator>.h1_header_home {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    padding-left: 4.5vw;
}

.navigator>nav>.links_navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 51vw;
}


.navigator>nav>.links_navigator>li {
    list-style-type: none;
}

.navigator>nav>.links_navigator>li>a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
}

main {
    position: relative;
    top: 0px;
    z-index: 0;
    min-height: 100vh;
    ;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    background-image: url(img/FundoHome/bd21a5afe631241f3744bf69c6a2923d.png);
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
}

.h1_home>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.0vw;
    color: white;
    text-shadow: 0px 2px 2px black;
}

.viagem {
    font-family: "Poppins", sans-serif;
    color: rgba(118, 127, 134, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 18vh;
    background-color: rgba(116, 125, 255, 0.35);
    position: absolute;
    margin-top: 52vh;
}

.viagem>.dados_viagem {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 12vh;
    border-radius: 8px 8px 8px 8px;

}

.viagem>.dados_viagem>div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 88vw;
}

.viagem>.dados_viagem>div>.span1,
.span2,
.span3 {
    display: flex;
    flex-direction: column;
}

.viagem>.dados_viagem>div>.span1,
.span2,
.span3>span {
    font-size: 1.25vw;
}

.viagem>.dados_viagem>div>.span1>input {
    background-color: #FFFFFF;
    height: 3.8vh;
    width: 28vw;
    border: 1px solid #B8C0C7;
    border-radius: 8px;

}

.viagem>.dados_viagem>div>.span2>input {
    background-color: white;
    height: 3.8vh;
    width: 20vw;
    border: 1px solid #B8C0C7;
    border-radius: 8px;
}

.viagem>.dados_viagem>div>.span2>input[type="date"] {
    padding-left: 15px;
    padding-right: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: rgba(118, 127, 134, 1);

}

.viagem>.dados_viagem>div>.span3>input {
    background-color: white;
    height: 3.8vh;
    width: 20vw;
    border: 1px solid #B8C0C7;
    border-radius: 8px;
}

.viagem>.dados_viagem>div>.span3>input[type="date"] {
    padding-left: 15px;
    padding-right: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: rgba(118, 127, 134, 1);

}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: grayscale(100%) invert(46.25%);
}

.viagem>.dados_viagem>div>button {
    background-color: rgba(255, 173, 50, 1);
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    color: white;
    height: 3.8vh;
    width: 13vw;
    border-radius: 5px;
}

.viagem>.dados_viagem>div>span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20.8px;
}

.passeios {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 8vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.passeios>.detalhes {
    margin: 1.1vw;
    width: 40vw;
}

.passeios>.detalhes>.h1_detalhes {
    font-family: "Lobster", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: rgba(116, 125, 255, 1);
}

.passeios>.detalhes>.linha_detalhes {
    display: block;
    background-color: rgba(255, 173, 50, 1);
    width: 20vw;
    height: 8px;
    border-radius: 8px;
    margin-top: 1vw;
    margin-bottom: 0.8vw;
}

.passeios>.detalhes>.descricao_detalhes {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: rgba(60, 72, 82, 1);
}

.passeios>.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.passeios>.fotos>img {
    margin: 0.4vw;
    width: 17vw;
    height: 17vw;
    border: 10px solid white;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.passeios>.detalhes>.butao_detalhes {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    color: white;
    height: 5vh;
    width: 13vw;
    border-radius: 5px;
    margin-top: 1.2vw;
}

.viagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    height: 90vw;
    width: 100vw;
    background: linear-gradient(27.5deg, rgba(255, 231, 194, 1) 0%, rgba(189, 172, 255, 1) 100%);
}

.viagens>.titulo {
    font-family: "Lobster", sans-serif;
    font-size: 2vw;
    color: #747DFF;
    font-weight: 400;
}

.viagens>.opcoes_viagens {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.viagens>.opcoes_viagens>div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 10px solid white;
    border-radius: 0.4vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    height: 32vw;
    margin: 2vw;
}

.viagens>.opcoes_viagens>div>img {
    width: 25vw;
    height: 23vw;
    border-top-left-radius: 0.4vw;
    border-top-right-radius: 0.4vw;
}

.viagens>.opcoes_viagens>div>.textos_valores {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9vw;
    padding-right: .6vw;
    padding-left: .6vw;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 23vw;
    color: #3C4852;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local>h4 {
    font-size: 1.4vw;
    font-weight: 700;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local>span {
    font-size: 1vw;
    font-weight: 400;
}

.viagens>.opcoes_viagens>div>.textos_valores>p {
    font-size: 0.8vw;
    color: #3C4852;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 12vw;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor>h3 {
    color: #3C4852;
    font-size: 1.2vw;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor>p {
    color: #767F86;
    font-size: 0.7vw;
    text-decoration: line-through;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>button {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-weight: 700;
    font-size: .9vw;
    color: white;
    height: 3.4vh;
    width: 8vw;
    border-radius: 5px;
}

.avaliacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
}

.avaliacao>h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: #747DFF;
}

.avaliacao>p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: #767F86;
    font-weight: 400;
    font-size: 1.2vw;
    text-align: center;
    width: 70vw;
}

.avaliacao>.autor_avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao>.autor_avaliacao>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.avaliacao>.autor_avaliacao>div>button {
    background-color: #B8C0C7;
    color: #FFFFFF;
    border-radius: 0.5vw;
    border-style: none;
    width: 2vw;
    height: 3vw;
    font-family: "Puritan", sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    margin-bottom: 5vw;
}

.avaliacao>.autor_avaliacao>div>img {
    border-radius: 50%;
    border: 0.3vw solid #FFAD32;
    width: 15vw;

}

.avaliacao>.autor_avaliacao>.nome_profissao {
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    color: #767F86;
    font-style: italic;

}

.avaliacao>.autor_avaliacao>.nome_profissao>p {
    font-weight: 700;
}

.avaliacao>.autor_avaliacao>.nome_profissao>span {
    font-weight: 400;
}

footer {
    position: absolute;
    width: 100%;
}

footer>.dados_footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    height: 22vw;
    padding: 1vw 0 0 0;
    background-color: #3C4852;
    color: #B8C0C7;
    font-family: "Poppins", sans-serif;
}

footer>.dados_footer>.dados_site {
    height: 15vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer>.dados_footer>.dados_site>h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2vw;
}

footer>.dados_footer>.dados_site>div>span {
    font-size: 1vw;
    font-weight: 700;
}

footer>.dados_footer>.dados_site>div>p {
    font-size: 1vw;
    font-weight: 400;
}

footer>.dados_footer>.parceiros {
    height: 13vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>.dados_footer>.parceiros>h1 {
    font-weight: 700;
    font-size: 1.4vw;
}

footer>.dados_footer>.parceiros>.nomes_parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vw;
}

footer>.dados_footer>.parceiros>.nomes_parceiros>p {
    font-weight: 400;
    font-size: 0.9vw;
}

footer>.dados_footer>.newsletter_redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vw;
}

footer>.dados_footer>.newsletter_redes>.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vw;
}

footer>.dados_footer>.newsletter_redes>div>h1 {
    font-weight: 700;
    font-size: 1.4vw;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>#newsletter_email {
    background-color: white;
    height: 2vw;
    width: 20vw;
    border: 1px solid #FFFFFF;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>#newsletter_email::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-left: 1vw;
    color: #B8C0C7;
    font-size: .9vw;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>button {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-weight: 700;
    font-size: 1vw;
    color: white;
    height: 2.1vw;
    width: 5vw;
    border-radius: .25vw;
}

footer>.dados_footer>.newsletter_redes>.linha_footer {
    display: block;
    background-color: #B8C0C7;
    width: 20vw;
    height: 0.041vw;
    border-radius: 8px;
    margin-top: 1vw;
    margin-bottom: 0.8vw;
}

footer>.dados_footer>.newsletter_redes>.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7vw;
}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes>a>img {
    width: 3vw;
    border-radius: 50%;
    border: 0.2vw solid rgb(205, 205, 205);
    cursor: pointer;
    filter: invert(28%) brightness(115%) contrast(100%)
}

footer>.fundo_roxo {
    background-color: #747DFF;
    width: 100%;
    height: 4vw;
}