@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90rem;
    height: 6rem;
    background-color: rgba(116, 125, 255, 0.35);
    color: white;
    position: absolute;
    z-index: 1;
    
    @media(min-width: 1441px) {
        width: 100%;
    }
}

.navigator>.h1_header_home {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    padding-left: 5rem;
}

.navigator>nav>.links_navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45rem;
}


.navigator>nav>.links_navigator>li {
    list-style-type: none;
}

.navigator>nav>.links_navigator>li>a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.navigator>nav>.links_navigator>li>a:hover {
    color: rgba(255, 173, 50, 1);
}

main {
    position: relative;
    top: 0px;
    z-index: 0;
    width: 90rem;
    @media(min-width: 1441px) {
        width: 100%;
    }
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 40rem;
    background-image: url(img/FundoHome/bd21a5afe631241f3744bf69c6a2923d.png);
    background-size: 90rem 40rem;
    background-repeat: no-repeat;

    @media(min-width: 1441px) {
        width: 100%;
        background-size: 100% 40rem;
    }
}

.h1_home>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 2px 2px black;
}

.viagem {
    font-family: "Poppins", sans-serif;
    color: rgba(118, 127, 134, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 12.2rem;
    background-color: rgba(116, 125, 255, 0.35);
    position: absolute;
    margin-top: 27.8rem;

    @media(min-width: 1441px) {
        width: 100%;
    }
}

.viagem>.dados_viagem {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 8.2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.viagem>.dados_viagem>div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 75rem;
}

.viagem>.dados_viagem>div>.span1,
.span2,
.span3 {
    display: flex;
    flex-direction: column;
}

.viagem>.dados_viagem>div>.span1,
.span2,
.span3>span {
    font-size: 1.3rem;
}

.viagem>.dados_viagem>div>.span1>input {
    background-color: #FFFFFF;
    height: 2.6rem;
    width: 22rem;
    border: 1px solid #B8C0C7;
    border-radius: 0.5rem;

}

.viagem>.dados_viagem>div>.span2>input {
    background-color: white;
    height: 2.6rem;
    width: 18rem;
    border: 1px solid #B8C0C7;
    border-radius: 0.5rem;
}

.viagem>.dados_viagem>div>.span2>input[type="date"] {
    padding-left: 1rem;
    padding-right: 0.4rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(118, 127, 134, 1);

}

.viagem>.dados_viagem>div>.span3>input {
    background-color: white;
    height: 2.6rem;
    width: 18rem;
    border: 1px solid #B8C0C7;
    border-radius: 0.5rem;
}

.viagem>.dados_viagem>div>.span3>input[type="date"] {
    padding-left: 1rem;
    padding-right: 0.4rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(118, 127, 134, 1);

}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: grayscale(100%) invert(46.25%);
}

.viagem>.dados_viagem>div>button {
    background-color: rgba(255, 173, 50, 1);
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    height: 2.6rem;
    width: 10rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.viagem>.dados_viagem>div>button:hover {
    background-color: #747DFF;
}

.passeios {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
}

.passeios>.detalhes {
    margin: 1rem;
    width: 39rem;
}

.passeios>.detalhes>.h1_detalhes {
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(116, 125, 255, 1);
}

.passeios>.detalhes>.linha_detalhes {
    display: block;
    background-color: rgba(255, 173, 50, 1);
    width: 20rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    margin-top: .5rem;
    margin-bottom: 0.8rem;
}

.passeios>.detalhes>.descricao_detalhes {
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: rgba(60, 72, 82, 1);
}

.passeios>.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.passeios>.fotos>img {
    margin: 0.4rem;
    width: 15rem;
    height: 15rem;
    border: 0.8rem solid white;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.passeios>.detalhes>.butao_detalhes {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    height: 3rem;
    width: 12rem;
    border-radius: 0.4rem;
    margin-top: 1.15rem;
    cursor: pointer;
}

.passeios>.detalhes>.butao_detalhes:hover {
    background-color: #747DFF;
    border: 1px solid #747DFF;;
}

.viagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    height: 80rem;
    background: linear-gradient(27.5deg, rgba(255, 231, 194, 1) 0%, rgba(189, 172, 255, 1) 100%);
}

.viagens>.titulo {
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
    color: #747DFF;
    font-weight: 400;
}

.viagens>.opcoes_viagens {
    display: grid;
    width: 90rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.viagens>.opcoes_viagens>div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.8rem solid white;
    border-radius: 0.4rem;
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    height: 30rem;
    width: 23rem;
    margin: 2rem;
}

.viagens>.opcoes_viagens>div>img {
    width: 23rem;
    height: 21rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.viagens>.opcoes_viagens>div>.textos_valores {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
    padding-right: .6rem;
    padding-left: .6rem;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 20rem;
    color: #3C4852;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local>h4 {
    font-size: 1.3rem;
    font-weight: 700;
}

.viagens>.opcoes_viagens>div>.textos_valores>.local>span {
    font-size: 1rem;
    font-weight: 400;
}

.viagens>.opcoes_viagens>div>.textos_valores>p {
    font-size: 0.8rem;
    color: #3C4852;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 12rem;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor>h3 {
    color: #3C4852;
    font-size: 1.2rem;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>.valor>p {
    color: #767F86;
    font-size: 0.7rem;
    text-decoration: line-through;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>button {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-weight: 700;
    font-size: 1rem;
    color: white;
    height: 2.2rem;
    width: 7rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.viagens>.opcoes_viagens>div>.textos_valores>.valor_butao>button:hover {
    background-color: #747DFF;
    border: 1px solid #747DFF;;
}

.avaliacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40rem;
}

.avaliacao>h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #747DFF;
}

.avaliacao>p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: #767F86;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    width: 74rem;
}

.avaliacao>.autor_avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao>.autor_avaliacao>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
}

.avaliacao>.autor_avaliacao>div>button {
    background-color: #B8C0C7;
    color: #FFFFFF;
    border-radius: 0.5vw;
    border-style: none;
    width: 2rem;
    height: 3.2rem;
    font-family: "Puritan", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 7rem;
    cursor: pointer;
}

.avaliacao>.autor_avaliacao>div>img {
    border-radius: 50%;
    border: 0.3rem solid #FFAD32;
    width: 16rem

}

.avaliacao>.autor_avaliacao>.nome_profissao {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    color: #767F86;
    font-style: italic;

}

.avaliacao>.autor_avaliacao>.nome_profissao>p {
    font-weight: 700;
}

.avaliacao>.autor_avaliacao>.nome_profissao>span {
    font-weight: 400;
}

footer {
    position: absolute;
    width: 90rem;

    @media(min-width: 1441px) {
        width: 100%;
    }
}

footer>.dados_footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    height: 19rem;
    padding: 1rem 0 0 0;
    background-color: #3C4852;
    color: #B8C0C7;
    font-family: "Poppins", sans-serif;
}

footer>.dados_footer>.dados_site {
    height: 14rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer>.dados_footer>.dados_site>h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

footer>.dados_footer>.dados_site>div>span {
    font-size: .9rem;
    font-weight: 700;
}

footer>.dados_footer>.dados_site>div>p {
    font-size: .9rem;
    font-weight: 400;
}

footer>.dados_footer>.parceiros {
    height: 12rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer>.dados_footer>.parceiros>h1 {
    font-weight: 700;
    font-size: 1.2rem;
}

footer>.dados_footer>.parceiros>.nomes_parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9rem;
}

footer>.dados_footer>.parceiros>.nomes_parceiros>p {
    font-weight: 400;
    font-size: .8rem;
}

footer>.dados_footer>.newsletter_redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.5rem;
}

footer>.dados_footer>.newsletter_redes>.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 4.5rem;
}

footer>.dados_footer>.newsletter_redes>div>h1 {
    font-weight: 700;
    font-size: 1.2rem;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>#newsletter_email {
    background-color: white;
    height: 2rem;
    width: 19rem;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>#newsletter_email::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-left: 1rem;
    color: #B8C0C7;
    font-size: .9rem;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>button {
    background-color: rgba(255, 173, 50, 1);
    border: 1px solid rgba(255, 173, 50, 1);
    font-weight: 700;
    font-size: 1rem;
    color: white;
    height: 2rem;
    width: 5rem;
    border-radius: .25rem;
    margin-left: .7rem;
    cursor: pointer;
}

footer>.dados_footer>.newsletter_redes>.newsletter>.input_button>button:hover {
    background-color: #747DFF;
    border: 1px solid #747DFF;
} 

footer>.dados_footer>.newsletter_redes>.linha_footer {
    display: block;
    background-color: #b8c0c7;
    width: 100%;
    height: 1px;
    border-radius: 0.5rem;
}

footer>.dados_footer>.newsletter_redes>.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.3rem;
}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;

}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes>a{
    text-decoration: none;
}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes>a>.ph {
    font-size: 2.8rem;
    color: rgb(184, 192, 199);
    cursor: pointer;
}

footer>.dados_footer>.newsletter_redes>.redes>.img_redes>a>i:hover {
    color: rgba(255, 173, 50, 1);
}

footer>.fundo_roxo {
    background-color: #747DFF;
    height: 3.5rem;
}